<!--
Der Spieler kann hier Objekte reinsetzen -> Arbeiten lassen
Objekte können wieder entfernt werden -> Ins Inventar setzen oder verkaufen
Objekte können aufgewertet werden -> Upgrade
-->
<div class="all-play-cards">
    {% for card in PERSON.cards_at_work %}
    <div class="play-card-container">
        <div class="play-card {{card.rarityAsStr}}">
            <div class="play-card-header">
                <h2 class="play-card-title {{card.rarityAsStr}}">{{card.title}}</h2>
                <span class="play-card-cost">{{format_number(card.costForRarityLevel)}}📀</span>
            </div>
                
            <div class="play-card-image-container">
                <img src="{{card.img}}" alt="{{card.img}}" class="play-card-image">
            </div>
                
            <div class="play-card-body">
                <p class="play-card-description">
                    {{card.description}}
                </p>
            </div>
                
            <div class="play-card-footer">
                <div class="stat atk">
                    <span class="stat-label">ATK</span>
                    <span class="stat-value">WBR</span>
                </div>
                <div class="stat def">
                    <span class="stat-label">DEF</span>
                    <span class="stat-value">WBR</span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>