<div class="carousel-container">
  <button id="prevBtn" class="nav-btn">‹</button>
        {% for quest in quests %}
            <div class="quests card " id="{{quest}}">
                <h1>{{quest}}</h1>    
                
                <div class="besides">
                    <div class="info-card">
                        <p>{{quests[quest].message}}</p>
                    </div>
                </div>
                
                <div class="besides">
                    {%if quests[quest].stackable%}
                    <p class="high-icon">📈</p>
                    {% endif %}
                    {%if quests[quest].type == 'sport'%}
                    <p class="high-icon">👟</p>
                    {%elif quests[quest].type == 'workout'%}
                    <p class="high-icon">🤸‍♂️</p>
                    {%elif quests[quest].type == 'nutrition'%}
                    <p class="high-icon">🍗</p>
                    {% endif %}
                </div>
                <div class="besides">
                    {% if quests[quest].coin %}
                    <span>✨</span><span>{{quests[quest].xp}}</span>
                    {% endif %}
                    
                    {% if quests[quest].coin %}
                    <span>📀</span><span>{{quests[quest].coin}}</span>
                    {% endif %}

                    {% if quests[quest].material %}
                    <span>🧱</span><span>{{quests[quest].material}}</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    <button id="nextBtn" class="nav-btn">›</button>
</div>
<script src="{{url_for('static', filename='common/carousel.js')}}"></script>
<script src="{{url_for('static', filename='game/reallife_quests.js')}}"></script>