<div class="card">
    <div class="rpg-header">
        <div class="avatar-container">
            <img src="{{ PERSON.img }}" alt="Avatar" class="avatar-img" width="70px" height="70px">
            <div class="level-badge">Lv. {{ PERSON.level }}</div>
        </div>
        <div class="user-info">
            <h2>{{ PERSON.name }}</h2>
            <p>placeholder</p>
        </div>
    </div>

    <div class="currency-container">
        <div class="currency-item">
            <span class="coin">📀</span> <span class="coin-ammount">{{ PERSON.formattedCoin }}</span>
        </div>
        <div class="currency-item">
            <span class="material">🧱</span> <span class="material-ammount">{{ PERSON.formattedMaterial }}</span>
        </div>
    </div>

    <div class="xp-section">
        <div class="xp-label">
            <span>XP Fortschritt</span>
            <span class="xp-current-max">{{ PERSON.formattedXP }} / {{ PERSON.formattedXPMax }} XP</span>
        </div>
        <div class="xp-bar-background">
            <div class="xp-bar-fill" style="width:{{PERSON.xpPercentage}}%;"></div>
        </div>
    </div>

    <div class="stats-grid">
        {% set history_count = PERSON.history.count() %}
        {% for key in history_count %}
        <div class="stat-box 
        {% if history_count[key] >= 110 %}
        divine
        {% elif history_count[key] >= 100 %}
        cosmic
        {% elif history_count[key] >= 90 %}
        ancient
        {% elif history_count[key] >= 80 %}
        relic
        {% elif history_count[key] >= 70 %}
        unique
        {% elif history_count[key] >= 60 %}
        mythic
        {% elif history_count[key] >= 50 %}
        legendary
        {% elif history_count[key] >= 40 %}
        epic
        {% elif history_count[key] >= 30 %}
        rare
        {% elif history_count[key] >= 20 %}
        uncommon
        {% elif history_count[key] >= 10 %}
        common
        {% endif %}
        ">
            <span>{{key}}</span> {{history_count[key]}}
        </div>
        {% endfor %}
        
    </div>
</div>