<div class="card">
    <div class="rpg-header">
        <div class="avatar-container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?_=20150327203541" alt="Avatar" class="avatar-img" width="70px" height="70px">
            <div class="level-badge">Lv. {{ level }}</div>
        </div>
        <div class="user-info">
            <h2>{{ name }}</h2>
            <p>placeholder</p>
        </div>
    </div>

    <div class="currency-container">
        <div class="currency-item">
            <span class="coin">📀</span> <span>{{ coin }}</span>
        </div>
        <div class="currency-item">
            <span class="ruby">💎</span> <span>{{ ruby }}</span>
        </div>
    </div>

    <div class="xp-section">
        <div class="xp-label">
            <span>XP Fortschritt</span>
            <span>{{ current_xp }} / {{ max_xp }} XP</span>
        </div>
        <div class="xp-bar-background">
            <div class="xp-bar-fill" style="width:{{xp_bar_fill}}%;"></div>
        </div>
    </div>

    <div class="stats-grid">
        {% for key in history_count %}
        <div class="stat-box 
        {% if history_count[key] >= 110 %}
        divine
        {% elif history_count[key] >= 100 %}
        cosmic
        {% elif history_count[key] >= 90 %}
        ancient
        {% elif history_count[key] >= 80 %}
        relic
        {% elif history_count[key] >= 70 %}
        unique
        {% elif history_count[key] >= 60 %}
        mythic
        {% elif history_count[key] >= 50 %}
        legendary
        {% elif history_count[key] >= 40 %}
        epic
        {% elif history_count[key] >= 30 %}
        rare
        {% elif history_count[key] >= 20 %}
        uncommon
        {% elif history_count[key] >= 10 %}
        common
        {% endif %}
        ">
            <span>{{key}}</span> {{history_count[key]}}
        </div>
        {% endfor %}
        
    </div>
</div>