* {
    padding: 0;
    margin: 0; 
}

:root {
    --bg-dark: #242432;
    --panel-bg: #2d2d2d;
}

body {
    background-color: #242424;
    color: #d0d0d0;
    font-family: 'Segoe UI';
    height: 100vh;
    justify-items: center;
    align-content: center;
}
.card {
    background-color: var(--panel-bg);
    border: 2px solid var(--border-color);
    border-radius: 12px;
    width: 50%;
    padding: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    max-height: 50vh;
}

.card.extended {
    width: 70%;
    overflow-y: visible;
    max-height: 70vh;
}

.info-card {
    background-color: var(--panel-bg);
    border: 2px solid var(--border-color);
    border-radius: 12px;
    width: calc(100% - (2 * 22px));
    padding: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.besides {
    display: flex;
}
.besides.spaced {
    justify-content: space-between;
}

.btn {
    background-color: #05966899;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.125em 0.5em;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #059669;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}





.nav-btn {
  background-color: var(--rarity-legendary-shine);
  border: 3px solid black;
  color: black;

  font-size: 24px;
  font-weight: 1000;
  text-shadow: 1px 2px 12px white;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
}
.nav-btn.close {
    background-color: var(--rarity-mythic-shine);
    
}

.nav-btn.extended {
    width: max-content;
    border-radius: 10px;
    padding: 5px;
}

.nav-btn:hover {
  background-color: #555;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Dunkler Hintergrund */
}

dialog {
    /* Reset default browser styles */
    padding: 0;
    border: none;
    background: transparent;
    
    /* Full screen backdrop / positioning */
    width: 100vw;
    height: 100vh;
    max-width: none; /* Override default browser max-width for dialogs */
    max-height: none; /* Override default browser max-height for dialogs */
    
    /* Flexbox centering */

    justify-content: center;
    align-items: center;
    
    /* Ensure it breaks out of default dialog positioning */
    margin: auto;
    display: none;
}
dialog:hover {
    background-color: rgba(0, 0, 0, 0.3);
}